In [164]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
from IPython.display import display, HTML
pd.set_option('display.max_colwidth', None)

## Read data from excel files

In [27]:
billDf = pd.read_excel('Bill.xlsx')
providerDf = pd.read_excel('Provider.xlsx')
providerDf.rename(columns ={'Ref No':'referenceID'},inplace=True)
providerDf['referenceID'] = providerDf['referenceID'].astype(str)

## Preprocessing

In [108]:
#Some preprocessing and extract information from text(Descriptions column).
providerDf['billID'] = providerDf['Descriptions'].str.replace(r'^\D+(\d+)\D+(\d+)',r'\1',regex=True)
providerDf['billPaymentID'] = providerDf['Descriptions'].str.replace(r'^\D+(\d+)\D+(\d+)',r'\2',regex=True)
providerDf['billID'] = providerDf['billID'].astype(np.int64)
providerDf['billPaymentID'] = providerDf['billPaymentID'].astype(np.int64)
providerDf

,Amount,referenceID,Descriptions,billID,billPaymentID
0,900,2721063604,‍‍‍پرداخت قبضبا شناسه 4070910357249 و شناسه پرداخت 900733,4070910357249,900733
1,32300,272109585,‍‍‍پرداخت قبضبا شناسه 409580633423 و شناسه پرداخت 3230392,409580633423,3230392
2,75400,27281098610,‍‍‍پرداخت قبضبا شناسه 905102967222510 و شناسه پرداخت 75424950,905102967222510,75424950
3,410800,2721029368,‍‍‍پرداخت قبضبا شناسه 2233358952240 و شناسه پرداخت 41080706,2233358952240,41080706
4,300,2721068678,‍‍‍پرداخت قبضبا شناسه 421049506730 و شناسه پرداخت 325974,421049506730,325974
...,...,...,...,...,...
2914,5710300,2721057653,‍‍‍پرداخت قبضبا شناسه 63039104204355 و شناسه پرداخت 5710305664,63039104204355,5710305664
2915,38600,2721088856,‍‍‍پرداخت قبضبا شناسه 22510809507257 و شناسه پرداخت 3860376,22510809507257,3860376
2916,53900,27210331068,‍‍‍پرداخت قبضبا شناسه 2228361060210 و شناسه پرداخت 53906104,2228361060210,53906104
2917,2900,27210666105,‍‍‍پرداخت قبضبا شناسه 496930442249 و شناسه پرداخت 290742,496930442249,290742
2918,700,2721075774,‍‍‍پرداخت قبضبا شناسه 33857242242 و شناسه پرداخت 700747,33857242242,700747

# ----------------------------------------------------------------------------------------------------------------------

## Some info about Bill table.

In [109]:
billDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45101 entries, 0 to 45100
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   amount         45101 non-null  int64
 1   providerID     43557 non-null  object
 2   billID         45101 non-null  int64
 3   billPaymentID  45101 non-null  int64
 4   referenceID    43557 non-null  object
 5   status         45101 non-null  object
 6   transactionID  45101 non-null  object
dtypes: int64(3), object(4)
memory usage: 2.4+ MB

### Providers and their transactions status in Bill table.

In [165]:
billDf[['providerID','status']].value_counts(dropna=False)

providerID  status
P1          COMPLETED    40647
P2          COMPLETED     2900
NaN         REQUESTED     1544
P2          REQUESTED       10
dtype: int64

### NaN value in ProviderID and referenceID in Bill table.

In [166]:
print(f"{billDf['providerID'].isna().sum()} -> Number of NaN value in ProviderID column.")
print(f"{billDf['referenceID'].isna().sum()} -> Number of NaN value in referenceID column.")
print("-------------------------------------------")
print('This info show that when providerID is NaN, refrenceID is NaN too.','\n')
print(billDf[billDf['providerID'].isna()].info())
print("-------------------------------------------")
print("And of course all status these transactions are REQUESTED.")
billDf[billDf['providerID'].isna()]['status'].value_counts(dropna=False)

1544 -> Number of NaN value in ProviderID column.
1544 -> Number of NaN value in referenceID column.
-------------------------------------------
This info show that when providerID is NaN, refrenceID is NaN too.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1544 entries, 3 to 45073
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   amount         1544 non-null   int64
 1   providerID     0 non-null      object
 2   billID         1544 non-null   int64
 3   billPaymentID  1544 non-null   int64
 4   referenceID    0 non-null      object
 5   status         1544 non-null   object
 6   transactionID  1544 non-null   object
dtypes: int64(3), object(4)
memory usage: 96.5+ KB
None
-------------------------------------------
And of course all status these transactions are REQUESTED.

REQUESTED    1544
Name: status, dtype: int64

# ----------------------------------------------------------------------------------------------------------------------

# Some info about provider report table.

In [126]:
print('The provider report list hasn\'t any NaN(null) cells.','\n')
providerDf.info()

The provider report list hasn't any NaN(null) cells.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Amount         2919 non-null   int64
 1   referenceID    2919 non-null   object
 2   Descriptions   2919 non-null   object
 3   billID         2919 non-null   int64
 4   billPaymentID  2919 non-null   int64
dtypes: int64(3), object(2)
memory usage: 114.1+ KB

# ----------------------------------------------------------------------------------------------------------------------

# Which columns suitable for merging?

I want use some columns to merging and use it to recognizing conflictions.But which columns and how many of them?

I prefered use referenceID or BillID or BillIDPaymentID.But because that the columns have duplicated rows(Apparently common)
and have NaN value i prefer use all of them together.

### checking referenceID or BillID or BillIDPaymentID for dublication in bill table.

In [167]:

print(f"Number of all NaN rows for refrenceID column is {billDf['referenceID'].count()} \
and Number of unique elements in that column is {billDf['referenceID'].nunique()}")

print(f"Number of all NaN rows for BillID column is {billDf['billID'].count()} \
and Number of unique elements in that column is {billDf['billID'].nunique()}")

print(f"Number of all NaN rows for BillIDPaymentID column is {billDf['billPaymentID'].count()} \
and Number of unique elements in that column is {billDf['billPaymentID'].nunique()}")

Number of all NaN rows for refrenceID column is 43557 and Number of unique elements in that column is 43553
Number of all NaN rows for BillID column is 45101 and Number of unique elements in that column is 43094
Number of all NaN rows for BillIDPaymentID column is 45101 and Number of unique elements in that column is 23674

## Merging two tables together for using find conflictions.

In [168]:
mergeDf = pd.merge(providerDf,billDf,how='left',on=['billID','billPaymentID','referenceID'])
mergeDf['amount'] = mergeDf['amount'].astype(pd.Int64Dtype())
print('Result of merging for p2 provider.','\n')
print(mergeDf.info(),'\n')
print(mergeDf[['providerID','status']].value_counts(dropna=False),'\n')
print(f"Number of rows in the provider report table is {providerDf['Amount'].count()}",'\n')

Result of merging for p2 provider.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 2918
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Amount         2919 non-null   int64
 1   referenceID    2919 non-null   object
 2   Descriptions   2919 non-null   object
 3   billID         2919 non-null   int64
 4   billPaymentID  2919 non-null   int64
 5   amount         2911 non-null   Int64
 6   providerID     2911 non-null   object
 7   status         2911 non-null   object
 8   transactionID  2911 non-null   object
dtypes: Int64(1), int64(3), object(5)
memory usage: 230.9+ KB
None

providerID  status
P2          COMPLETED    2898
            REQUESTED      10
NaN         NaN             8
P1          COMPLETED       3
dtype: int64

Number of rows in the provider report table is 2919

# ----------------------------------------------------------------------------------------------------------------------

# checking p1 p2 providers confiliction.

There is p1 provider transactions(recorded in bill table) in p2 provider report.why?

In [169]:
#This list is a confilict in bill and provider tables. They are releted to p1 provider in bill table but p2 provider reported it.
p1p2conf = mergeDf[mergeDf['providerID']=='P1']
p1p2conf

,Amount,referenceID,Descriptions,billID,billPaymentID,amount,providerID,status,transactionID
89,9000,275064210,‍‍‍پرداخت قبضبا شناسه 7269409324550 و شناسه پرداخت 90030,7269409324550,90030,90000,P1,COMPLETED,ffa10b587-1054-4da7-1063f-b2e98afdb875
145,800,2721099876,‍‍‍پرداخت قبضبا شناسه 2259948625256 و شناسه پرداخت 800327,2259948625256,800327,800,P1,COMPLETED,01044eff0-05ef-4105e-8cc6-d25568ed97a2
1616,49600,2721032735,‍‍‍پرداخت قبضبا شناسه 2292293472240 و شناسه پرداخت 4960706,2292293472240,4960706,49600,P1,COMPLETED,02290f49-f2f10-466e-1010710-097972d090a

### checking the confliction in bill table.

In [170]:
billIDprovider = providerDf['billID']
billPayIDprovider = providerDf['billPaymentID']
cond = ( billDf['billID'].isin(billIDprovider) ) & ( billDf['billPaymentID'].isin(billPayIDprovider) ) & ( billDf['providerID']=='P1' )
confilictP1_P2=billDf[ cond ]
confilictP1_P2[['providerID','status']].value_counts(dropna=False)

providerID  status
P1          COMPLETED    3
dtype: int64

In [171]:
confilictP1_P2

,amount,providerID,billID,billPaymentID,referenceID,status,transactionID
5510,49600,P1,2292293472240,4960706,2721032735,COMPLETED,02290f49-f2f10-466e-1010710-097972d090a
18193,800,P1,2259948625256,800327,2721099876,COMPLETED,01044eff0-05ef-4105e-8cc6-d25568ed97a2
23436,90000,P1,7269409324550,90030,275064210,COMPLETED,ffa10b587-1054-4da7-1063f-b2e98afdb875

### checking the confliction in the provider table.

In [172]:
cond = (providerDf['billID'].isin(confilictP1_P2['billID'])) & (providerDf['billPaymentID'].isin(confilictP1_P2['billPaymentID']))
providerDf[ cond]

,Amount,referenceID,Descriptions,billID,billPaymentID
89,9000,275064210,‍‍‍پرداخت قبضبا شناسه 7269409324550 و شناسه پرداخت 90030,7269409324550,90030
145,800,2721099876,‍‍‍پرداخت قبضبا شناسه 2259948625256 و شناسه پرداخت 800327,2259948625256,800327
1616,49600,2721032735,‍‍‍پرداخت قبضبا شناسه 2292293472240 و شناسه پرداخت 4960706,2292293472240,4960706

### checking the price confliction for the p1 p2 confliction.

In [173]:
# conflict in price of above table.
cond = (p1p2conf['Amount']!= p1p2conf['amount'])
priceConflict1 = p1p2conf[cond]
for i,row in priceConflict1.iterrows():
    print(f"Bill list reported {row['amount']} but p2 provider reported {row['Amount']} for the price.")
priceConflict1

Bill list reported 90000 but p2 provider reported 9000 for the price.

,Amount,referenceID,Descriptions,billID,billPaymentID,amount,providerID,status,transactionID
89,9000,275064210,‍‍‍پرداخت قبضبا شناسه 7269409324550 و شناسه پرداخت 90030,7269409324550,90030,90000,P1,COMPLETED,ffa10b587-1054-4da7-1063f-b2e98afdb875

# ----------------------------------------------------------------------------------------------------------------------

# NaN providers in merge table checking

There are some rows in merge table that reported by p2 provider but in bill table, they haven't provider or refrenceID or even didn't exist in bill table.

Why p2 provider reports this transaction?

In [180]:
#This list is a confilict in bill and provider tables. They are reported by p2 but they are haven't providerID or compelete status in bill list.
#Releted two refrenceID,BillID and BillPaymentID.
nanstatus = mergeDf[mergeDf['status'].isna()]
print(f"Number of unique nanstatus list\n{nanstatus.nunique()}",'\n')
print('In merge table:')
nanstatus.sort_values(by=['billID'])

Number of unique nanstatus list
Amount           8
referenceID      8
Descriptions     8
billID           8
billPaymentID    8
amount           0
providerID       0
status           0
transactionID    0
dtype: int64

In merge table:

,Amount,referenceID,Descriptions,billID,billPaymentID,amount,providerID,status,transactionID
670,576200,27210610727,‍‍‍پرداخت قبضبا شناسه 227733307250 و شناسه پرداخت 57620356,227733307250,57620356,<NA>,NaN,NaN,NaN
1785,2700,2728621078,‍‍‍پرداخت قبضبا شناسه 262433252240 و شناسه پرداخت 270730,262433252240,270730,<NA>,NaN,NaN,NaN
634,20400,272862823,‍‍‍پرداخت قبضبا شناسه 686866022240 و شناسه پرداخت 2040790,686866022240,2040790,<NA>,NaN,NaN,NaN
367,64400,272862990,‍‍‍پرداخت قبضبا شناسه 1024422052240 و شناسه پرداخت 6440739,1024422052240,6440739,<NA>,NaN,NaN,NaN
2218,39600,27286210910,‍‍‍پرداخت قبضبا شناسه 2063385552249 و شناسه پرداخت 3960796,2063385552249,3960796,<NA>,NaN,NaN,NaN
1632,22800,272862805,‍‍‍پرداخت قبضبا شناسه 4105084844244 و شناسه پرداخت 2280735,4105084844244,2280735,<NA>,NaN,NaN,NaN
75,30500,27286210106,‍‍‍پرداخت قبضبا شناسه 6606632504355 و شناسه پرداخت 30505403,6606632504355,30505403,<NA>,NaN,NaN,NaN
1693,5400,272862880,‍‍‍پرداخت قبضبا شناسه 7107537552248 و شناسه پرداخت 540753,7107537552248,540753,<NA>,NaN,NaN,NaN

In [182]:
nanstatus.to_excel('nanstatus.xlsx')

### checking above list in bill table.

In [176]:
# A list of nan provider and refrenceID related to above in bill table.
cond = (billDf['billID'].isin(nanstatus['billID'])) & (billDf['billPaymentID'].isin(nanstatus['billPaymentID'])) 
nanInBill= billDf[cond].sort_values(by=['billID'])
print(f"Number of unique list\n{nanInBill.nunique()}",'\n')
print('there is a report in p2 provider but didn\'t exist in bill table. ','\n')
nanInBill

Number of unique list
amount            7
providerID        0
billID            7
billPaymentID     7
referenceID       0
status            1
transactionID    10
dtype: int64

there is a report in p2 provider but didn't exist in bill table.

,amount,providerID,billID,billPaymentID,referenceID,status,transactionID
25384,2700,NaN,262433252240,270730,NaN,REQUESTED,ebf94296-e637-4a10b-b24b-c4805cd75b42
23927,20400,NaN,686866022240,2040790,NaN,REQUESTED,aeeea2d8-5bac-4bf8-804b-2b40c04d5229
2067,64400,NaN,1024422052240,6440739,NaN,REQUESTED,4bf10333e-ed108-47f4-108108-a878625fa10e
16661,64400,NaN,1024422052240,6440739,NaN,REQUESTED,883fe622-e58c-446d-a776-494da1089a408
2223,39600,NaN,2063385552249,3960796,NaN,REQUESTED,88f0660f-aeb6-405-ae28-cafe5f9ae4dc
25773,39600,NaN,2063385552249,3960796,NaN,REQUESTED,0d49c7710-ddaf-4cf7-ae1010-dd8d83d851010
38769,39600,NaN,2063385552249,3960796,NaN,REQUESTED,b5e74c90-fcef-4b6f-10582-4463ba57e1054
19044,22800,NaN,4105084844244,2280735,NaN,REQUESTED,da646d810-9260-4fbe-ad49-2863ec440fd2
44790,30500,NaN,6606632504355,30505403,NaN,REQUESTED,0f7709f8-0424-4f84-10654-e226fa9e2103e
14900,5400,NaN,7107537552248,540753,NaN,REQUESTED,645f71048-e7103-4fd10-a0103-85974548d0c4

#### The elements that reported by p2 provider but don't exist in bill table.

In [151]:
# The difference between the two lists nanInBill and nanstatus. This list show rows reported in p2 provider but ins't exist in bill list.
cond = ~(nanstatus['billID'].isin(nanInBill['billID'])) & ~(nanstatus['billPaymentID'].isin(nanInBill['billPaymentID'])) 
nanstatus[cond]

,Amount,referenceID,Descriptions,billID,billPaymentID,amount,providerID,status,transactionID
670,576200,27210610727,‍‍‍پرداخت قبضبا شناسه 227733307250 و شناسه پرداخت 57620356,227733307250,57620356,<NA>,NaN,NaN,NaN

# ----------------------------------------------------------------------------------------------------------------------

# The elemets that exist in bill table and related to p2 provider but not reported by p2 provider.

In [152]:
# two complete transaction that is't exist in p2 reported but they assigned to p2 provider in bill table.
billIDprovider = providerDf['billID']
billPayIDprovider = providerDf['billPaymentID']
cond = ~( billDf['billID'].isin(billIDprovider) ) & ~( billDf['billPaymentID'].isin(billPayIDprovider) )  & ( billDf['providerID']=='P2' )
confilictP1_P2_2=billDf[ cond ]
confilictP1_P2_2[['providerID','status']].value_counts(dropna=False)

providerID  status
P2          COMPLETED    2
dtype: int64

In [153]:
confilictP1_P2_2

,amount,providerID,billID,billPaymentID,referenceID,status,transactionID
29737,59100,P2,25210389972244,59100706,27210210735,COMPLETED,ffcfa7e5-076e-494a-8468-b923d24d94b7
34035,24600,P2,592560952249,2460765,2721080547,COMPLETED,02365802-8410a-466d-8023-7fb7c964b95b

#### checking the elements in the provider table.

In [154]:
#nothing in p2 provider list with confilictP1_P2_2 refrenceIDs.
print(providerDf[providerDf['referenceID'].isin(confilictP1_P2_2['referenceID'])])
cond = ( providerDf['billID'].isin(confilictP1_P2_2['billID']) ) & ( providerDf['billPaymentID'].isin(confilictP1_P2_2['billPaymentID']) )
print(providerDf[ cond ])

Empty DataFrame
Columns: [Amount, referenceID, Descriptions, billID, billPaymentID]
Index: []
Empty DataFrame
Columns: [Amount, referenceID, Descriptions, billID, billPaymentID]
Index: []

# ----------------------------------------------------------------------------------------------------------------------

# Checking REQUESTED transactions related p2 provider and reported by p2.

why p2 provider reported these?

In [177]:
# Checking REQUESTED transactions related p2 provider and reported by p2.
# why p2 reported these?.
cond = (mergeDf['status']=='REQUESTED')
requestedReport = mergeDf[cond]
requestedReport

,Amount,referenceID,Descriptions,billID,billPaymentID,amount,providerID,status,transactionID
252,202900,2721035940,‍‍‍پرداخت قبضبا شناسه 10101020204255 و شناسه پرداخت 20290757,10101020204255,20290757,202900,P2,REQUESTED,f825c7a7-daee-4210c-a77b-23a44c210e58e
567,300,27210410246,‍‍‍پرداخت قبضبا شناسه 84010806032 و شناسه پرداخت 304063,84010806032,304063,300,P2,REQUESTED,dfe79e8b-2fd0-46e6-10d8-2a8f3e4e7e73
928,6800,27288023,‍‍‍پرداخت قبضبا شناسه 8410409652247 و شناسه پرداخت 680753,8410409652247,680753,6800,P2,REQUESTED,f10dd802c-810de-4605-be6a-a43eb075affc
930,500,2721039609,‍‍‍پرداخت قبضبا شناسه 290873806933 و شناسه پرداخت 5020,290873806933,5020,500,P2,REQUESTED,e310a0636-09f4-4c06-a589-b2e25380524f
1491,232100,275043730,‍‍‍پرداخت قبضبا شناسه 2348348707550 و شناسه پرداخت 232100387,2348348707550,232100387,232100,P2,REQUESTED,fe1052608-5104f-46102-b39e-7f756526924f
1711,4200,27210527106,‍‍‍پرداخت قبضبا شناسه 7010105652246 و شناسه پرداخت 420779,7010105652246,420779,4200,P2,REQUESTED,fb101010a0e-ef510-4f68-a5a7-bc5ee10d9c244
1987,10500,27210910237,‍‍‍پرداخت قبضبا شناسه 604291026 و شناسه پرداخت 10520686,604291026,10520686,10500,P2,REQUESTED,e659ca103-610e-466d-10540-cce2577fe71010
2097,55500,275022692,‍‍‍پرداخت قبضبا شناسه 10810678752246 و شناسه پرداخت 55507109,10810678752246,55507109,55500,P2,REQUESTED,74e97720-764b-41052-10879-6e847bf10b107f
2538,56300,275040537,‍‍‍پرداخت قبضبا شناسه 272920337240 و شناسه پرداخت 5630750,272920337240,5630750,56300,P2,REQUESTED,784b1097a-48ce-474b-80bf-2f608a35effd
2575,2500,2750371024,‍‍‍پرداخت قبضبا شناسه 5797806234 و شناسه پرداخت 00025027304,5797806234,25027304,2500,P2,REQUESTED,f3d34cd3-a992-47cf-891010-42c97e4a9e4f

In [160]:
# conflict in price of above table.
cond = (requestedReport['Amount']!= requestedReport['amount'])
priceConflict2 = requestedReport[cond]
for i,row in priceConflict2.iterrows():
    print(f"Bill list reported {row['amount']} but p2 provider reported {row['Amount']} for the price.")
if len(priceConflict2)==0:
    print('there aren\'t confliction in price of above table!')
else:
    display(priceConflict2)

there aren't confliction in price of above table!

# ----------------------------------------------------------------------------------------------------------------------

# Checking difference pricing in p2 reported list and bill list.

In [179]:
# checking difference pricing in p2 reported list and bill list.
cond = (requestedReport['Amount']!= requestedReport['amount']) & (mergeDf['providerID']=='P2') & (mergeDf['status']=='COMPLETED')
priceConflict3 = mergeDf[cond]

if len(priceConflict3)==0:
    print('there are not confliction in price of bill table and p2 providers when status is COMPLETED!')
else:
    display(priceConflict3)

there are not confliction in price of bill table and p2 providers when status is COMPLETED!